/* Estilização do Poster Preview */
.poster-preview-container {
    height: 45rem;
    width: 30rem;
    background-color: rgb(var(--secondary-color)); 
    border-radius: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    transition: all 0.3s ease;
    border: 4px solid rgba(var(--detail-light), 0.25);
    box-shadow: 0 0 3px 2px rgba(var(--detail-purple), 0.5);
    position: sticky;
    top: 2rem; 
    margin-top: 4rem;
}

.poster-preview-placeholder {
    color: rgb(var(--detail-light));
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}

.poster-preview-image-container {
    width: 100%;
    height: 100%;
}

.poster-preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}