@import url("../../styles/global.css");

.comunity-review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    padding: 0.5rem;
    gap: 0.8rem;
    font-family: var(--montserrat);
    color: var(--montserrat);
    font-size: 22px;
    font-weight: 500;
}

.comunity-review-main {
    display: flex;
    flex-direction: row;
    gap: 0.9rem;
}

.comunity-review-main figure img {
    width: 4.6rem;
}

.comunity-review-info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.purple-text {
    font-family: var(--montserrat);
    font-size: 22px;
    font-weight: 600;
    color: rgb(var(--detail-purple));
}

