.auth-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.auth-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    padding: 2rem 0.5rem 2.5rem 0.5rem;
    width: 33rem;
    gap: 1.25rem;
    background-color: rgb(var(--secondary-color));
    border-radius: 0.75rem;
}

.auth-page-container p {
    font-size: 22px;
    font-weight: 400;
    font-family: var(--poppins);
    color: rgb(var(--detail-light));
}

.auth-page-container p a {
    text-decoration: none;
    color: rgb(var(--detail-purple));
}

.auth-page-container p a:hover {
    text-decoration: underline;
}

.auth-page-container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.auth-page-container-header p {
    text-align: center;
    width: 75%;
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 22px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.1rem;
    width: 75%;
}

.auth-form button {
    margin-top: 1.25rem;
}