@import url("../../styles/global.css");

.login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 75%m;
}