.perfil-collection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    min-height: 33rem;
    padding: 2rem 3rem 2rem 3rem;
}

.perfil-collection-container h2 {
    align-self: self-start;
}

.perfil-collection-container h2::after {
    width: 61rem;
}

.perfil-collection-movies-line {
    display: flex;
    align-items: start;
    align-self: start;
    max-width: 100%;
    flex-wrap: wrap;
    margin-left: 1rem;
    gap: 1rem;
    justify-content: start;
}