.perfil-group-genre {
    padding: 0.7rem 1rem 0.7rem 1rem;
    width: 20%;
    background: var(--detail-blue-gradient);
    font-family: var(--montserrat);
    font-size: 20px;
    color: rgb(var(--detail-light));
    text-align: end;
    border-radius: 0.313rem;
    font-weight: 600;
}