@import url("../../styles/global.css");

.header-links {
    display: flex;
    align-items: center;
    gap: 1.75rem;
    list-style: none;
    font-size: 28px;
    font-weight: 500;
    font-family: var(--poppins);
    color: rgb(var(--detail-light));
}

.header-links li {
    cursor: pointer;
    transition: 0.8s ease;
}

.header-links li:hover {
    transform: scale(1.05);
}
