@import url("../../styles/global.css");

.site-links {
    display: flex;
    align-items: center;
    gap: 1.75rem;
    list-style: none;
    font-size: 28px;
    font-weight: 500;
    font-family: var(--poppins);
    color: rgb(var(--detail-light));
}

.site-links li {
    cursor: pointer;
    transition: 0.8s ease;
}

.site-links li:hover {
    transform: translateY(-4px);
}

.site-links li a {
    text-decoration: none;
    color: rgb(var(--detail-light));
}

#cinescope-logo {
    transition: none;
}

#cinescope-logo:hover {
    transform: none;
}