@import url("../../styles/global.css");

.nav-bar {
    font-size: 28px;
    font-weight: 500;
    font-family: var(--poppins);
    color: rgb(var(--detail-light));
}

.nav-bar ul {
    display: flex;
    align-items: flex-end;
    gap: 1.75rem;
    list-style: none;
}

.nav-bar li {
    cursor: pointer;
    transition: 0.8s ease;
}

.nav-bar li:hover {
    transform: scale(1.05);
}
