/* Estilização do footer do display de filmes */
.movie-info-footer {
    width: 100%;
    padding: 2.5rem 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: var(--montserrat);
    background-color: rgb(var(--secondary-color));
    border-radius: 0.6rem;
    gap: 1.75rem;
    font-size: 36px;
    width: 50%;
}

.rating-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    color: rgb(var(--detail-purple));
    font-weight: 600;
}

.rating-container img {
    width: 2rem;
}