.perfil-page-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 5rem;
    padding: 5.5rem 1.5rem 5.5rem 1.5rem;
}

.perfil-section-conteiner {
    min-height: 58rem;
    width: 67rem;
    border-radius: 0.3rem;
    background-color: rgb(var(--secondary-color));
}
