@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(180deg,
      rgb(var(--primary-color)) 0%,
      rgb(var(--tertiary-color)) 70%,
      rgb(var(--tertiary-color)) 100%);
  color: rgb(var(--detail-light));
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}