/* Botão padrão */
.button {
    font-size: 1.5rem;
    font-family: var(--montserrat);
    padding: 0.8rem 2rem;
    font-weight: 600;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

/* Efeitos de interação */
.button:hover {
    transform: scale(1.03);
    opacity: 0.95;
}

.button:active {
    transform: scale(0.98);
}

/* Variações dos Botões */
.button-blue-gradient {
    background: var(--detail-blue-gradient);
    color: rgb(var(--detail-light));
}

.button-transparent {
    background-color: rgba(var(--detail-light), 0.25);
    border: 1.5px solid rgba(var(--detail-light), 0.85);
    color: rgb(var(--detail-light));
}

.button-purple {
    background-color: rgb(var(--detail-purple));
    color: rgb(var(--tertiary-color));
}

.button-red {
    background-color: rgb(var(--detail-red));
    color: rgb(var(--tertiary-color));
}