/* Estilização do componente de display individual do filme */
.movie-display {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 2.5rem;
    grid-template-rows: auto auto;
    row-gap: 0.25rem;
    color: rgb(var(--detail-light));
    font-family: var(--montserrat);
    padding: 3rem;
    max-width: 1300px;
    margin: 2rem auto;
}

.movie-display-poster {
    width: 100%;
    margin: 0;
    grid-row: 2;
}

.movie-display-poster img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    object-fit: cover;
}

.movie-display-info {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    min-height: 0;
}

.movie-display-info>div:first-child {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.movie-display-info h1 {
    font-family: var(--montserrat);
    font-size: 52px;
    font-weight: 700;
    margin: 0;
    color: rgb(var(--detail-purple));
}

.chips-container {
    display: flex;
    gap: 0.75rem;
}

.movie-display-info h2 {
    font-family: var(--montserrat);
    font-size: 30px;
    font-weight: 500;
    margin: 0.5rem 0 0 0;
}

.synopsis-text {
    margin-top: 0.25rem;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    color: rgba(var(--detail-light), 0.95);
}

.credits {
    font-size: 0.9rem;
    line-height: 1.5;
    position: relative;
    padding-left: 1.25rem;
}

.credits p {
    font-size: 20px;
    font-weight: 400;
}

.credits strong {
    font-weight: 600;
    color: rgb(var(--detail-light));
    margin-right: 0.5rem;
}

.credits::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: var(--detail-blue-gradient);
}