/* Estilização básica do componenete */
.nav-bar-user-group{
    display: flex;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
}

.nav-bar-user-group h4 {
    padding-right: 1.1rem;
    font-family: var(--poppins);
    font-size: 28px;
    font-weight: 500;
}
