/* Estilização dos titulos repetidos do site */
.title {
  position: relative;
  display: inline-block;
  font-family: var(--montserrat);
  font-weight: 600;
}

.title-home {
  font-size: 48px;
}

.title-home::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 4rem;
  bottom: 0;
  width: 15rem;
  height: 0.4rem;
  background: var(--detail-blue-gradient);
  border-radius: 2px;
}

.title-about-us {
  font-size: 56px;
  background-image: var(--detail-title-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title-about-us::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5rem;
  bottom: 0;
  width: 16rem;
  height: 0.5rem;
  background: var(--detail-blue-gradient);
  border-radius: 2px;
}

.title-perfil {
  font-size: 30px;
  color: rgb(var(--detail-purple));
  display: block;
  padding-bottom: 0.8rem;
}

.title-perfil::after {
  content: '';
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 47rem;
  height: 0.2rem;
  background: rgb(var(--detail-purple));
  border-radius: 2px;
}
.title-search {
  font-size: 48px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.title-search::after {
  content: '';
  width: 25%;
  margin-left: 1rem;
  height: 0.4rem;
  background: var(--detail-blue-gradient);
  border-radius: 2px;
}