.perfil-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.125rem;
    width: 23rem;
    height: 33rem;
    background-color: rgb(var(--secondary-color));
    border-radius: 0.5rem;
}

.perfil-menu-title {
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
    transition: ease 0.4s;
    text-decoration: none;
    color: rgb(var(--detail-light));
}

.perfil-menu-title:hover {
    transform: scale(1.04);
}
