/* Estilização do menu de historico de edições */
.history-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem 2rem 5rem 2rem;
    gap: 1rem;
    min-height: 42rem;
    width: 30rem;
    border-radius: 0.313rem;
    background-color: rgb(var(--secondary-color));
}


.history-menu h2 {
    font-size: 2.375rem;
    font-weight: 600;
    font-family: var(--montserrat);
    color: rgb(var(--detail-purple));
}