@import url("../../styles/global.css");

.history-menu-text-conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--montserrat);
}