@import url("../../styles/global.css");

.history-menu-text-conteiner {
    display: grid;
    place-items: center;
    grid-template-columns: 7.5rem 5rem 7.5rem;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--montserrat);
}

