.perfil-reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding: 2rem 3rem 2rem 3rem;
    min-height: 33rem;
}

.perfil-reviews-container h2 {
    align-self: self-start;
}

.perfil-reviews-container h2::after {
    width: 61rem;
}

.perfil-reviews-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-left: 3.5rem;
}