/*  Estilização básica da barra de busca */
.search-bar {
    display: flex;
    align-items: center;
    width: 30rem;
    height: 3.25rem;
    border-radius: 50px;
    background-color: aliceblue;
    background-color: rgba(var(--detail-light), 0.1);
    border: rgba(var(--secondary-color), 0.2) solid 1px;
}

.search-bar-input {
    all: unset;
    box-sizing: border-box;
    width: 85%;
    height: 100%;
    padding: 0.75rem 1rem;
    font-family: var(--montserrat);
    font-size: 1.125rem;
    color: rgb(var(--detail-light));
    background-color: transparent;
}

.search-bar-input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 18px;
    width: 18px;
    background: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M14.348 14.849a1 1 0 01-1.415 0L10 11.415l-2.934 2.934a1 1 0 01-1.415-1.415l2.934-2.934-2.934-2.934a1 1 0 011.415-1.415L10 8.586l2.934-2.934a1 1 0 011.415 1.415L11.415 10l2.934 2.934a1 1 0 010 1.415z"/></svg>') no-repeat center;
    cursor: pointer;
}

.search-bar-button {
    width: 15%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 1s ease;
}

.search-bar-button:hover {
    transform: scale(1.0.75);
}