@import url("../../styles/variables.css");

.genre-filter-container {
  font-family: var(--poppins);
  color: rgb(var(--detail-light));
}

.genre-filter-container h3 {
  align-self: flex-start;
  font-size: 1.75rem;
  color: rgb(var(--detail-light));
  font-family: var(--montserrat);
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.genre-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.genre-filter-item {
  margin-bottom: 0.3rem;
}

.genre-filter-item label {
  cursor: pointer;
  font-size: 26px;
  font-weight: 300;
  display: flex;
  align-items: center;
  user-select: none;
}

.genre-filter-checkbox {
  display: none;
}

.genre-filter-item label::before {
  content: '';
  width: 1rem;
  height: 1rem;
  border: 2px solid rgb(var(--detail-light));
  background-color: transparent;
  margin-right: 10px;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.genre-filter-checkbox:checked+label::before {
  background-color: rgb(var(--detail-light));
}