.request-card {
    display: grid;
    width: 26rem;
    height: 16rem;
    grid-template-columns: 12.5rem 12.5rem;
    place-items: center;
    font-family: var(--montserrat);
    background-color: rgb(var(--primary-color));
    border-radius: 0.5rem;
}

.request-image-container {
    width: 100%;
    max-width: 25rem;
    height: 100%;
    height: 16rem;
    padding: 1.5rem;
}

.request-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.156rem;
    box-shadow: 0 0 3px 2px rgba(var(--detail-light), 0.25);
}

.request-card h3 {
    font-size: 20px;
    font-weight: 600;
}

.request-card p {
    font-size: 18px;
    font-weight: 500;
}

.request-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.40rem;
    padding: 0.5rem;
}

.request-info-container h4{
    font-size: 16px;
    font-weight: 500;
}

.request-sub-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}