.movie-add-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.5rem;
    font-family: var(--montserrat);
}

.movie-add-page-container h1,
.movie-add-page-container nav,
.movie-page-form {
    width: 100%;
    max-width: 860px; 
    box-sizing: border-box; 
}

.movie-add-page-container h1 {
    font-size: 48px;
    color: rgb(var(--detail-purple));
    text-align: center;
    margin-bottom: 1rem;
}

.movie-add-page-container nav {
    text-align: left;
}