.line-divider-gradient {
  width: 65%;
  height: 0.2rem;
  border-radius: 1rem;
  background: var(--detail-blue-gradient);
  border: none;
}

.line-divider-transparent {
  height: 0.2rem;
  width: 100%;
  background-color: rgba(var(--detail-light), 0.15);
  border: none;
  border-radius: 1rem;
}

.line-divider-purple {
  width: 100%;
  height: 0.2rem;
  border-radius: 1rem;
  background: rgb(var(--detail-purple));
  border: none;
}
