/* Estilização base do input */
.input {
    align-self: flex-start;
    padding: 0.7rem 1rem 0.7rem 1rem;
    margin: 0.3rem 0rem 1rem 0rem;
    font-size: 1.25rem;
    font-family: var(--montserrat);
    font-weight: 500;
    width: 100%;
    border-radius: 5px;
    border: 1.5px solid transparent;
    transition: border-color 0.2s ease, box-shadow 0.6s ease;
}

.input:hover {
    border-color: rgba(var(--detail-purple), 0.75);
}

.input:focus {
    outline: none;
    box-shadow: 0 0 3px 1px rgb(var(--detail-purple));
}

/* Estilização do input black */
.input-black {
    background-color: rgba(var(--primary-color), 0.9);
    color: rgb(var(--detail-light));
    border-color: rgba(var(--detail-light), 0.3);
}

.input-black::placeholder {
    color: var(--detail-dark-input);
}

/* Estilização do input white */
.input-white {
    background-color: rgba(var(--detail-light), 0.9);
    color: rgb(var(--primary-color));
    border-color: rgba(var(--primary-color), 0.3);
}

.input-white::placeholder {
    color: var(--detail-light-input);
}