
@import url("../../styles/global.css");

.form-movie {
  background-color: rgb(var(--secondary-color));
  padding: 2.5rem;
  border-radius: 10px;
  max-width: 920px; 
  margin: 2rem auto; 
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-row {
  display: flex;
  gap: 1.5rem;
  align-items: center; 
}

.form-row > * {
  flex: 1;
}

.form-row div:first-child {
  display: flex;
  flex-direction: column;
  
}

.chip-container {
  display: flex;  
  flex-wrap: wrap;
  min-height: 5rem;
  gap: 0.5rem;
  background-color: rgba(var(--primary-color), 0.55);
  border: 1px solid rgba(var(--detail-light), 0.25);
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
}

.form-buttons {
  display: flex;
  justify-content: flex-end; 
  gap: 1rem;
  margin-top: 1rem;
}
