/* Estilização do card da tela de pesquisa */
.search-card-link {
    text-decoration: none;
}

.search-movie-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--secondary-color));
    width: 18rem;
    height: 26rem;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-movie-card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(var(--tertiary-color), 0.3);
}

.search-movie-card-image-container {
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.search-movie-card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-movie-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem 1.5rem;
    font-family: var(--montserrat);
    flex-shrink: 0;
    min-height: 7rem;
}

.search-movie-card-info h3 {
    color: rgb(var(--detail-purple));
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-movie-info-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search-movie-subtitle {
    font-family: var(--poppins);
    background-image: var(--detail-blue-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.search-movie-rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(var(--detail-purple));
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 22px;
}

.search-movie-rating p {
    color: rgb(var(--detail-light));
    margin: 0;
}