@import url("../../styles/global.css");

/* Botão padrão */
.small-button {
    font-size: 1.125rem;
    font-family: var(--montserrat);
    width: 6.5rem;
    height: 1.75rem;
    font-weight: 600;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease, background 0.75s ease;
}

.small-button:hover {
    transform: scale(1.08);
    opacity: 0.95;
}

.small-button:active {
    transform: scale(0.99);
}


/* Variações */
.small-button-grey {
    background-color: rgb(var(--detail-grey));
    color: rgb(var(--detail-light));
}

.small-button-grey:hover {
    background-color: rgb(var(--detail-purple));
}

.small-button-red {
    background-color: rgb(var(--detail-red));
    color: rgb(var(--tertiary-color));
}
