.movie-edition-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 4rem;
}

.movie-edition-page-container > div:first-child {
    display: flex;
    flex-direction: column;
    padding: 4.5rem 0rem 1.5rem;
    font-family: var(--montserrat);
}

.movie-edition-page-container > div:last-child {
    display: flex;
    flex-direction: column;
    padding: 8.5rem 1.5rem 5rem;
    gap: 0.5rem;
    font-family: var(--montserrat);
}

.movie-edition-page-container > div:first-child h1,
.movie-edition-page-container > div:first-child nav,
.movie-page-form {
    width: 100%;
    max-width: 860px;
    box-sizing: border-box; 
}

.movie-edition-page-container > div:first-child h1 {
    font-size: 48px;
    color: rgb(var(--detail-purple));
    text-align: center;
    margin-bottom: 1rem;
}

.movie-edition-page-container > div:first-child nav {
    text-align: left;
}