@import url("../../styles/global.css");

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3.25rem 0.5rem 2.7rem 0.5rem;
    height: 100%;
    font-family: var(--montserrat);
    border-top: 3px solid rgba(var(--detail-light), 0.15);
}

.footer p {
    font-size: 24px;
}