/* Chip padrão */
.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  box-sizing: border-box;
  min-width: 7.5rem;
  height: 2rem;
  padding: 1rem 1.25rem 1rem 1.25rem;
  border-radius: 2rem;
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 1rem;
  cursor: default;
  user-select: none;
  color: rgb(var(--tertiary-color));
  box-shadow: 0 0 5px 1px rgb(var(--tertiary-color));
  transition: transform 0.12s ease, box-shadow 0.12s ease, background 0.12s ease;
}

.chip-text {
  flex: 1 1 auto;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  padding-right: 0.25rem;
}

/* Caso o chip for de remoção é adicionado e feita essa estilização */
.chip-remove {
  flex: 0 0 auto;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-grid;
  place-items: center;
  border-radius: 50%;
  border: none;
  background: transparent;
  color: inherit;
  font-size: 1.05rem;
  line-height: 1;
  cursor: pointer;
  padding-left: 0.5rem;
  transition: transform 0.1s ease, background 0.1s ease, opacity .1s ease;
}

.chip-remove:hover {
  transform: scale(1.08);
  opacity: 0.9;
}

/* Variações dos chips */
.chip-purple {
  background-color: rgb(var(--detail-purple));
}

.chip-dark-blue {
  background-color: rgb(var(--secondary-color));
  color: rgb(var(--detail-light));
}

/* Chip de CRUD */
.chip-crud {
  background-color: rgb(var(--detail-purple));
  box-shadow: none;
  color: rgb(var(--tertiary-color));
  cursor: default;
}

/*Chip de status*/
.chip-approved {
  background-color: rgb(var(--detail-green));
}

.chip-pending {
  background-color: rgb(var(--detail-yellow));
}

.chip-failed {
  background-color: rgb(var(--detail-red));
}