.home-page-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem 4rem 2rem;
    gap: 4rem;
}

.home-page-movies-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem;
    gap: 3rem;
}   

