/* Estilizção do card de ator */
.card-actor-conteiner {
    display: inline-block;
    position: relative;
    width: 16rem;
    height: 18rem;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(var(--tertiary-color), 0.15);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.actor-image-container {
    width: 100%;
    height: 100%;
}

.actor-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.8s ease;
}

.actor-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(var(--primary-color), 0.85);
    color: rgb(var(--detail-purple));
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem 0.75rem 0.5rem;
    box-sizing: border-box;
}

.card-actor-conteiner:hover {
    box-shadow: 0 8px 16px rgba(var(--tertiary-color) 0.25);
    transform: translateY(-5px);
}

.card-actor-conteiner:hover .actor-image {
    transform: scale(1.05);
}