.search-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    padding: 5rem 0 ;
    width: 100%;
}

.search-page-query-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6rem;
    width: 100%;
}

.search-page-query-conteiner > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}