.search-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    padding: 5rem 0;
    width: 100%;
    overflow-x: hidden;
}

.search-page-query-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
    width: 100%;
    max-width: 85%;
    padding: 0 2rem;
    box-sizing: border-box;
}

.search-page-query-conteiner > div:first-child {
    flex-basis: 300px;
    flex-shrink: 0;
}

.search-page-query-conteiner > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
    min-width: 0;
}

.search-results-grid {
    display: flex;
    justify-content: start;
    flex-wrap: wrap; 
    padding-left: 4rem;
    gap: 2.5rem;
}