@import url("../../styles/global.css");

.perfil-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--montserrat);
    width: 11rem;
    height: 7rem;
    gap: 0.5rem;
    background-color: rgb(var(--primary-color));
    border-radius: 5px;
    border: 1px rgba(var(--detail-light), 0.25) solid;
}

.perfil-card h2 {
    background-image: var(--detail-blue-gradient);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}

.perfil-card p {
    color: rgb(var(--detail-blue));
}