@import url("../../styles/global.css");

.search-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgb(var(--detail-light));
    font-family: var(--montserrat);
    background-color: rgb(var(--secondary-color));
    width: 93.75rem;
    height: 19rem;
    padding: 2rem;
    border-radius: 0.75rem;
}

.search-banner h3 {
    text-align: center;
    font-size: 36px;
    width: 65%;
}

.search-banner p {
    font-size: 26px;
}