@import url("../../styles/global.css");

.select-group-label {
    align-self: flex-start;
    font-size: 1.5rem;
    color: rgb(var(--detail-light));
    font-family: var(--montserrat);
    font-weight: 600;
}

.select-group-input {
    align-self: flex-start;
    padding: 0.7rem 1rem 0.7rem 1rem;
    margin: 0.3rem 0rem 1rem 0rem;
    font-size: 1.25rem;
    font-family: var(--montserrat);
    font-weight: 500;
    width: 100%;
    border-radius: 5px;
    border: 1.5px solid rgba(var(--detail-light), 0.25);
    background-color: rgba(var(--primary-color), 0.9);
    color: var(--detail-dark-input);
    transition: 
        border-color 0.25s ease,
        box-shadow 0.4s ease,
        background-color 0.3s ease;
}

.select-group-input option {
    color: rgb(var(--detail-light));
}

.select-group-input:hover {
    border-color: rgba(var(--detail-purple), 0.75);
}

.select-group-input:focus {
  outline: none;
  box-shadow: 0 0 3px 1px rgb(var(--detail-purple));
}
