/* Estilização básica do card de filme da tela home */
.home-movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(var(--secondary-color));
    width: 20rem;
    height: 38rem;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-movie-card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(var(--tertiary-color), 0.3);
}

.home-movie-card-image-container {
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.home-movie-card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center; 
}


.home-movie-card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 22.5%;
    gap: 0.75rem;
    padding: 1.75rem;
    font-family: var(--montserrat);
    min-height: 6rem;
    border-top: 4px solid rgba(var(--detail-light), 0.3);
}


.home-movie-card-info h3 {
    color: rgb(var(--detail-purple)); 
    font-size: 30px;
    font-weight: 700;
    text-align: start;
    width: 100%;
    flex-wrap: wrap;
    text-overflow: ellipsis; 
}

.home-movie-rating {
    display: flex;
    align-items: center;
    color: rgb(var(--detail-light));
    gap: 0.5rem;
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 24px;
}