/* Estilização básica do componenete de review */
.my-review {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 1.75rem 0.5rem 1.75rem;
    gap: 0.9rem;
    font-family: var(--montserrat);
    color: var(--montserrat);
    font-size: 22px;
    font-weight: 500;
}

.my-review h4 {
    font-size: 30px;
    font-weight: 600;
}

.my-review form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    width: 100%;
}