/* Estilização do card de reviews */
.my-reviews-card {
    display: flex;
    background-color: rgb(var(--primary-color));
    padding: 0.6rem;
    border-radius: 0.4rem;
    gap: 1.25rem;
    font-family: var(--montserrat);
    max-width: 95%;
    height: 9rem;
    border: 2px solid rgba(var(--detail-light), 0.35);
}

.my-reviews-card-poster {
    height: 100%;
    width: 12.5%;
}

.my-reviews-card-poster img {
    width: 100%;
    height: 100%;  
    border-radius: 0.25rem;
    border: 1px solid rgba(var(--detail-light), 0.15);
}

.my-reviews-card-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.1rem;
}

.my-reviews-card-info h5 {
    font-size: 24px;
    font-weight: 600;
}

.my-revies-card-info p {
    font-size: 18px;
    font-weight: 500;
}