@import url("../../styles/global.css");

.my-reviews-card {
    display: flex;
    background-color: rgb(var(--primary-color));
    padding: 0.6rem;
    border-radius: 0.313rem;
    gap: 2rem;
    font-family: var(--montserrat);
    width: 63rem;
    height: 9rem;
}

.my-reviews-card-poster {
    height: 100%;
}

.my-reviews-card-poster img {
    width: 100%;
    height: 100%;  
    border-radius: 0.25rem;
    border: 1px solid rgba(var(--detail-light), 0.15);
}

.my-reviews-card-info h5 {
    font-size: 20px;
    font-weight: 600;
}

.my-revies-card-info p {
    font-size: 18px;
    font-weight: 500;
}