.home-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 39rem;
    gap: 3rem;
    padding: 2rem 6rem;
    font-family: var(--montserrat);
    background:
        linear-gradient(rgba(var(--primary-color), 0.65), rgba(var(--primary-color), 0.65)),
        url("../../assets/images/backgroud-image-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.home-banner h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 0.75rem;
    background: var(--detail-title-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.home-banner p {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.home-banner-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}