.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    padding: 1.75rem 1.25rem 1.8rem 1.25rem;
    background-color: rgba(var(--primary-color), 0.9);
    border-bottom: 3px solid rgba(var(--detail-light), 0.15);
}