@import url("../../styles/global.css");

.movie-page-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--montserrat);
}

.movie-page-container-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 3rem 5rem 2rem 5rem;
    justify-items: center;  
}

.movie-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.1rem;
    width: 65%;
    padding: 2.25rem 2.5rem 2.25rem 2.5rem;
    background-color: rgb(var(--secondary-color));
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 4px rgb(var(--terciary-color));
}

.movie-reviews h3 {
    font-size: 38px;
    color: rgb(var(--detail-purple));
    align-self: flex-start;
    font-weight: 600;
}

.movie-page-related-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    position: relative;
}

.movie-page-related-line h3 {
    font-size: 36px;
    position: absolute;
    transform: translateY(-920%);    
}