.movie-page-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--montserrat);
    width: 100%;
    padding: 1rem 0 4rem 0;
}

.movie-page-container-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
    padding: 3rem 2rem 2rem 2rem;
    width: 100%;
    max-width: 1600px;
    box-sizing: border-box;
}

.movie-reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.1rem;
    flex: 2;
    min-width: 300px;
    padding: 2.25rem 2.5rem 2.25rem 2.5rem;
    background-color: rgb(var(--secondary-color));
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 4px rgb(var(--terciary-color));
}

.movie-reviews h3 {
    font-size: 38px;
    color: rgb(var(--detail-purple));
    align-self: flex-start;
    font-weight: 600;
    margin: 0;
    position: relative;
    padding-left: 1.25rem;
}

.movie-page-related-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.8rem;
    flex: 1;
    min-width: 250px;
}

.movie-page-related-line h3 {
    font-size: 36px;
    font-weight: 600;
    color: rgb(var(--detail-purple));
    margin: 0;
    position: relative;
    padding-left: 1.25rem;
}

.movie-page-actor-conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1600px;
    box-sizing: border-box;
    padding: 2rem;
    gap: 1rem;
    margin-top: 2rem;
}

.movie-page-actor-conteiner div {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    flex-wrap: wrap;
}

.movie-page-actor-conteiner h4 {
    color: rgb(var(--detail-purple));
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    position: relative;
    padding-left: 1.25rem;
}

.movie-reviews h3::before,
.movie-page-related-line h3::before,
.movie-page-actor-conteiner h4::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: var(--detail-blue-gradient);
}