.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--montserrat);
    padding-bottom: 5rem;
}

.about-us-hero {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.about-us-hero-background {
    position: absolute;
    inset: 0;
    background-image: url("../../assets/images/interstellar-banner.png");
    background-size: cover;
    background-position: center;
    opacity: 0.20;
    z-index: 1;
}

.about-us-hero-content {
    position: relative;
    z-index: 2;
    max-width: 75%;
    color: rgb(var(--detail-purple));
}

.about-us-hero-content h1 {
    font-size: 102px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.about-us-hero-content p {
    font-size: 26px;
    line-height: 1.6;
    font-weight: 500;
}

.about-us-values-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0rem;
    gap: 6rem;
}

.movie-simple-banner {
    width: 100%;
    height: 36rem;
    margin: 4rem;
    background-image: url('../../assets/images/seven-background.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 0.55;
    z-index: 1;
}

.values-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    max-width: 100%;
    margin: 0 auto;
}

.about-us-contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 2rem 0;
    width: 45%;
    gap: 3rem;
}

.contact-form {
    min-width: 50rem;
    background-color: rgb(var(--secondary-color));
    padding: 4rem 6rem 4rem 6rem;
    border-radius: 0.5rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.contact-form button {
    width: 100%;
    border-radius: 0.25rem;
}

.submit-button:hover {
    opacity: 0.9;
}