.about-us-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 20.25rem;
    height: 25.5rem;
    background-color: rgb(var(--secondary-color));
    font-family: var(--montserrat);
    gap: 1rem;
    border: 3px solid rgba(var(--detail-light), 0.25);
    border-radius: 0.5rem;
}

.about-us-card img {
    width: 4.25rem;
}

.about-us-card h4 {
    font-weight: 600;
    font-size: 32px;
}

.about-us-card p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}