@import url("../../styles/global.css");

h2 {
  position: relative;
  display: inline-block;
  font-family: var(--montserrat);
  font-size: 48px;
  font-weight: 600;
}

h2::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 4rem;
    bottom: 0;
    width: 10rem;
    height: 9px;
    background: var(--detail-blue-gradient);
    border-radius: 2px;
}