@import url("../../styles/global.css");

.related-movie-card{
    display: grid;
    grid-template-columns: 10rem 18rem;
    width: 28rem;
    height: 100%;
    background-color: rgb(var(--secondary-color));
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
    overflow: hidden;
}

.related-movie-card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25); 
    background-color: rgba(var(--secondary-color), 0.9); 
}

.related-movie-poster {
    width: 100%;
    height: 100%;
    padding: 0.8rem;
}

.related-movie-poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
    border-radius: 0.4rem;
}

.related-movie-info {
    display: flex;
    flex-direction: column;
    padding: 2rem 0.5rem 2rem 0.5rem;
    gap: 0.5rem;
    font-family: var(--montserrat);
}

.related-movie-info h4 {
    font-size: 28px;
    color: rgb(var(--detail-purple));
    text-shadow: 0 0 5px rgba(var(--detail-purple), 0.5);
}

.related-movie-info p {
    justify-self: left;
    font-size: 20px;
    font-weight: 500;
    margin-top: auto;
    transition: color 0.3s ease;
}

.related-movie-review-container {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 22px;
}