@import url("../../styles/global.css");

.related-movie-card{
    display: grid;
    grid-template-columns: 10rem 15rem;
    width: 25rem;
    height: 100%;
    background-color: rgb(var(--secondary-color));
}

.related-movie-poster {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.related-movie-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.related-movie-info {
    padding: 0.75rem;
    font-family: var(--montserrat);
}

.related-movie-info h4 {
    font-size: 28px;
    color: rgb(var(--detail-purple));
}