.perfil-movie-card {
    width: 11rem;
    height: 15rem;
}

.perfil-movie-card figure {
    width: 100%;
    height: 100%;
}

.perfil-movie-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.313rem 0.313rem 0 0;
}

.perfil-movie-card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.8rem;
    border-radius: 0 0 0.313rem 0.313rem;
    gap: 0.4rem;
    background-color: rgb(var(--primary-color));
    border-top: rgba(var(--detail-light), 0.5) 2px solid;
}

.perfil-movie-card-footer h5{
    font-size: 1.125rem;
    font-family: var(--montserrat);
    font-weight: 500;
}