/* Estilização do filtro de anos */
.year-range-filter-container {
    font-family: var(--poppins);
    color: rgb(var(--detail-light));
    width: 100%;
}

.year-range-filter-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 0.75rem;
    margin-bottom: 1rem;
}

.year-range-filter-header h3 {
    align-self: flex-start;
    font-size: 1.75rem;
    color: rgb(var(--detail-light));
    font-family: var(--montserrat);
    font-weight: 600;
}

.year-range-filter-values {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: rgb(var(--tertiary-color));
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
}

.slide-wrapper {
    position: relative;
    height: 20px;
    display: flex;
    align-items: center;
}

.slide-track {
    position: absolute;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: rgb(var(--detail-light));
}

.slide-track-process {
    position: absolute;
    height: 8px;
    background-color: #84848b;
    border-radius: 3px;
}

.range-inputs {
    position: relative;
    width: 100%;
}

.year-range-filter-slider {
    position: absolute;
    width: 100%;
    appearance: none;
    background: none;
    pointer-events: none;
    top: -12px;
    margin: 0;
}

.year-range-filter-slider::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #84848b;
    cursor: grab;
    pointer-events: auto;
    appearance: none;
    transition: transform 0.1s ease;
}

.year-range-filter-slider:active::-webkit-slider-thumb {
    cursor: grabbing;
    transform: scale(1.1);
}

.year-range-filter-slider::-moz-range-thumb {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: rgb(var(--detail-light));
    cursor: grab;
    pointer-events: auto;
    border: 0;
    transition: transform 0.1s ease;
}

.year-range-filter-slider:active::-moz-range-thumb {
    cursor: grabbing;
    transform: scale(1.1);
}