.home-footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    font-family: var(--montserrat);
}

.home-footer-info h2 {
    font-size: 58px;
    font-weight: 600;
}

.home-footer-info p {
    width: 50%;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}