@import url("../../styles/global.css");

.rating-filter-container {
    font-family: var(--poppins);
    color: rgb(var(--detail-light));
}

.rating-filter-container h3 {
    align-self: flex-start;
    font-size: 1.75rem;
    color: rgb(var(--detail-light));
    font-family: var(--montserrat);
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.rating-filter-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rating-filter-item {
    margin-bottom: 0.3rem;
}

.rating-filter-item label {
    cursor: pointer;
    font-size: 26px;
    font-weight: 300;
    display: flex;
    align-items: center;
    user-select: none;
}


.rating-filter-checkbox {
    display: none;
}

.rating-filter-item label::before {
    content: '';
    width: 1rem;
    height: 1rem;
    border: 2px solid rgb(var(--detail-light));
    background-color: transparent;
    margin-right: 10px;
    display: inline-block;
    transition: background-color 0.2s ease;
}

.rating-filter-checkbox:checked + label::before {
    background-color: rgb(var(--detail-light));
}